.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    position: absolute;
    margin-top: 6px;
    // left: 50%;
    top: 100%;
    right: 0;
    z-index: 2;
    // height: 149px;
    // max-width: 100%;
    // padding: 20px;

    .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        background: #2372bb;
        padding: 0 20px;
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;

        span {
            cursor: pointer;
        }
    }

    .month-year-input {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        gap: 10px;

        &__value {
            font-size: 12px;
            font-weight: 600;
            color: #ffffff;
            min-height: 12px;
            box-sizing: border-box;
            background: none;
            border: none;
            // text-align: end;

            &:focus {
                outline: none;
            }

            &--month {
                padding: 0px 10px 0px 0px;
                min-width: 65px;
                // width: auto;
            }

            &--year {
                min-width: 45px;
                padding: 0px 2px 0px 0px;
            }
        }

        &__dropdown {
            display: flex;
            align-items: center;
            position: relative;
            // width: 100%;

            &__value-list {
                position: absolute;
                list-style: none;
                margin: 0;
                // box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
                transition: 0.3s ease-in-out;
                z-index: 2;
                width: 100%;
                padding: 0;
                background-color: white;
                border-radius: 0px 0px 8px 8px;
                top: 100%;
                right: 0;
                /* width */

                &__open {
                    max-height: 120px;
                    overflow-y: auto;
                }

                &__open::-webkit-scrollbar {
                    width: 3px;
                    height: 3px;
                }

                li {
                    position: relative;
                    min-height: 17px;
                    // width: 100%;
                    background-color: #a5caee;
                    padding: 0px 3px;
                    font-size: 12px;
                    font-weight: normal;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    opacity: 1;

                    &:hover {
                        background-color: #438acb;
                    }

                    &.closed {
                        max-height: 0;
                        overflow: hidden;
                        padding: 0;
                        opacity: 0;
                    }
                }
                // li:nth-child(even) {
                //     background-color: #7aaecc;
                // }

                li:last-child {
                    border-radius: 0px 0px 8px 8px;
                }

                li:first-child {
                    margin-top: 1px;
                }
            }

            &__bg {
                display: flex;
                justify-content: center;
                align-content: center;
                position: absolute;
                width: 12px;
                height: 90%;
                background-color: #ffffff;
                right: 0;
                // bottom: 0;
                cursor: pointer;

                &__icon {
                    width: 8px;
                    height: 100%;
                    fill: #184267;
                }
            }
        }
    }
}
.calendar-content {
    background: white;
    padding: 3px 20px 15px 20px;
    border: 1px solid #3d5d7a;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    position: relative;

    .prev,
    .next {
        width: 7px;
        cursor: pointer;
    }
}

.react-calendar {
    width: 200px;
    max-width: 100%;
    // background: white;
    // font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}
.react-calendar button:enabled:hover {
    cursor: pointer;
}
.react-calendar__navigation {
    // display: flex;
    // height: 44px;
    // width: 100%;
    // margin-bottom: 1em;
    position: relative;
    &__label {
        display: none;
    }
    &__prev-button {
        position: absolute;
        left: -32px;
        top: -3px;
    }
    &__prev-button:hover {
        background-color: none;
    }
    &__next-button {
        position: absolute;
        right: -32px;
        top: -3px;
    }
    &__prev2-button,
    &__next2-button {
        display: none;
    }
}
.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}
.react-calendar__navigation button:disabled {
    // background-color: #f0f0f0;
    cursor: none;

    path {
        fill: #f0f0f0;
    }
}
// .react-calendar__navigation button:enabled:hover,
// .react-calendar__navigation button:enabled:focus {
//     background-color: #e6e6e6;
// }
.react-calendar__month-view__weekdays {
    text-align: center;
    // text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #153063;
    background: #dce7f3;
    border-radius: 2px 2px 0px 0px;
    border-bottom: 1px solid #aec4da;
    min-height: 15px;
}
.react-calendar__month-view__weekdays__weekday {
    // padding: 0.5em;

    abbr {
        text-decoration: none;
    }
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
    color: #9b3c27;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: #999999;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}
.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 3px;
    font-size: 12px;
    font-weight: 400;
}
.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}
.react-calendar__tile--now {
    // background: #ffff76;
    background: none;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
}
.react-calendar__tile--hasActive {
    background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}
.react-calendar__tile--active {
    background: #006edc;
    color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}
