$defaultWhite: #ffffff;
$defaultGrey: #dae1eb;
$defaultBackgroundLogo: linear-gradient(180deg, #062e53 0%, #0857a2 100%);
$defaultBackgroundHeader: linear-gradient(180deg, #062d52 0%, #2372bb 100%);
$defaultBackgroundSidebar: linear-gradient(180deg, #3e72af 0%, #153063 100%);
$defaultBackgroudBlue: linear-gradient(180deg, #f3fbff 0%, #aec8e2 100%);

$blueOne: #438acb;

$defaultYellow: #feae00;
$defaultDarkRed: #a60914;
$defaultRed: #f11b2a;
$defaultBlack: #000000;
$defaultWhite: #ffffff;
$defaultWhite: #f9fefe;
$defaultDarkGreen: #00a629;
$defaultGreen: #00f23d;
$defaultLightGreen: #49f273;
$defaultLightBrown: #bf9791;
$defaultBrown: #735a57;
$defaultBackgroudBrown: #89899d;
$defaultBackgroundYellow: #392d1e;
$defaultBackgroundRed: #360c1e;
$backgroundRed: #e5131d;
$borderColor: #5f5f7a;
$yellowWarning: #febc2c;
$darkBrown: #51414c;

$defaultBlueZero: #153063;
$defaultBlueOne: #062f81;
$defaultBlueTwo: #184267;
$defaultBlueThree: #98daff;
$defaultBlueFour: #c0d4e7;

$defaultBlueFive: #4244d4;
$defaultBlueSix: #6991ff;

$verticalInputBorder: #9f9f9f;
$horizontalInputBackground: #89899d;
$horizontalInputBorder: #707070;

$ButtonPlusBackground: #36b556;
$profilePicBorder: #081e34;
