$fontFamily: "Roboto", sans-serif;
$semiBold: 600;

$fontSizeBodyGiant: 24px;
$fontSizeBodyHuge: 22px;
$fontSizeBodyLarger: 16px;
$fontSizeBodyStandard: 14px;
$fontSizeBodySmaller: 12px;

$fontSizeTableHeader: $fontSizeBodyLarger;
$fontSizeTableBody: $fontSizeBodyLarger;

$fontSizeHeaderPopup: $fontSizeBodyLarger;
$fontSizeLabelInput: $fontSizeBodySmaller;
$fontSizeValueInput: $fontSizeBodySmaller;
